
.overflow-hidden{
  overflow: hidden !important;
}
.absolute{
  position: absolute !important;
}
/* Slider */

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus
{
  outline: none;
}

.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}

.slick-track:after
{
  clear: both;
}

.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide
{
  float: right;
}

.slick-slide img
{
  display: block;
}

.slick-slide.slick-loading img
{
  display: none;
}

.slick-slide.dragging img
{
  pointer-events: none;
}

.slick-initialized .slick-slide
{
  display: block;
}

.slick-loading .slick-slide
{
  visibility: hidden;
}

.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  margin: 24px 0;
  padding: 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
}

.slick-dots li button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  border-radius: 8px;
  height: 8px;
  margin: 0 6px;
  padding: 0;
  width: 8px;
  text-indent: -9999px;
  transition: all .2s ease-in-out;
  background-color: #E9E9EA;
}

.slick-dots li.slick-active button {
  background-color: #282C36;
}

.with-slick-arrows .slick-prev, .with-slick-arrows .slick-next {
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  background-image: url(/images/icons/16px/carbon-5/freckle.svg);
  background-size: cover;
  display: block;
  position: absolute;
  top: 25%;
  z-index: 10;
}

.with-slick-arrows .slick-prev:before, .with-slick-arrows .slick-next:before {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 6px;
  top: 6px;
  background-size: cover;
}

.with-slick-arrows .slick-prev {
  left: -6px;
}

.with-slick-arrows .slick-prev:before {
  background-image: url(/images/icons/16px/carbon-40/carot-left.svg);
}

.with-slick-arrows .slick-next {
  right: -6px;
}

.with-slick-arrows .slick-next:before {
  background-image: url(/images/icons/16px/carbon-40/carot-right.svg);
}



.side-by-side-carousel{
  padding-top: 5rem;padding-bottom: 5rem;
}
.side-by-side-row{
  min-height: 580px;
  margin-top: 16px;
}

.side-by-side-carousel .slide-text-wrapper .slide-icon-wrapper, .side-by-side-carousel .slide-text-wrapper .step-number {
  /* left: -36px;
  top: 20px;
  position: absolute; */
}

.side-by-side-carousel .slide-text-wrapper .slide-icon-wrapper {
  display: inline-block;
  width: 16px;
  position: absolute;
  opacity: 0;
}

.side-by-side-carousel .slide-text-wrapper .slide-icon-wrapper .slide-icon {
  width: 16px;
  height: auto;
}

.side-by-side-carousel .step-number {
  background: #F6F6F9;
  font-size: 18px;
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;justify-content: center;
  border-radius: 50%;
}

.side-by-side-carousel .slide-image-wrapper {
  position: relative;
  vertical-align: bottom;
}

.side-by-side-carousel .slide-text {
  cursor: pointer;
  position: relative;
  display: flex;align-items: flex-start;
  padding: 20px 0;
  /* padding: 15px 20px; */
  /* padding: 50px; */
}
.side-by-side-carousel .slide-text  > div{
  margin-left: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.side-by-side-carousel .slide-text  > div h3{
  font-family: 'Gilroy-Bold';
  font-size: 24px;
  line-height: 1.5;
  color: #12152F;
}
.side-by-side-carousel .slide-text  > div p{
  font-family: "Gilroy-Medium";
  font-size: 16px;
  color: #12152F;
  line-height: 1.5;
  margin-top: 8px;
}
.side-by-side-carousel .slide-text.active{
  /* pa */
  /* box-shadow: 0 5px 25px rgb(0 0 0 / 10%); */
}

.side-by-side-carousel .slide-text .title {
  margin-bottom: 0;
}

.side-by-side-carousel .slide-text .description {
}

.side-by-side-carousel .slide-text.active .title {
  margin-bottom: 0.5rem;
}

.side-by-side-carousel .slide-text .slide-icon-wrapper {
  transition: opacity 0.3s ease-in-out;
}

.side-by-side-carousel .slide-text.active .slide-icon-wrapper, .side-by-side-carousel .slide-text:hover .slide-icon-wrapper {
  opacity: 1;
}

.side-by-side-carousel .slide-text.active .step-number, .side-by-side-carousel .slide-text:hover .step-number {
  background-color: #ff0062;
  color: #FFFFFF;
}

.side-by-side-carousel .slide-text.active .title, .side-by-side-carousel .slide-text:hover .title {
  color: #ff0062;
}

.side-by-side-carousel .slide-image {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  transition-delay: 150ms;
}

.side-by-side-carousel .slide-image.active {
  opacity: 1.0;
}

@media ( min-width: 768px ) and ( max-width: 900px ) {
  .side-by-side-carousel .slide-image {
    top: 60px;
    bottom: auto
  }
}

.side-by-side-carousel .mobile-section {
  text-align: center;
}

.side-by-side-carousel.bg-gray .step-number {
  background: #ffffff;
}

.side-by-side-carousel.bg-gray .mobile-section .slick-prev, .side-by-side-carousel.bg-gray .mobile-section .slick-next {
  background-image: url(/images/icons/16px/white/freckle.svg);
}

.side-by-side-carousel.bg-carbon-90 .mobile-section .slick-prev, .side-by-side-carousel.bg-carbon-90 .mobile-section .slick-next {
  background-image: url(/images/icons/16px/carbon-70/freckle.svg);
}

