
.pro-sec{
    margin-top: 60px;
}
.pro-sec .sec-header{
    text-align: center;
}
.pro-sec .pro-cnt h2{
    font-family: "Gilroy-Regular";
    font-size: 32px;
    line-height: 1.5;
    color: #12152F;
    margin-bottom: 20px;
}
.pro-sec .pro-cnt p{
    font-family: "Gilroy-Medium";
    font-size: 18px;
    line-height: 1.5;
    color: #12152F;
    margin-bottom: 30px;
}
.pro-sec .pro-cnt ul{
    padding-left: 0;
    margin-bottom: 30px;
}
.pro-sec .pro-cnt ul li{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.pro-sec .pro-cnt ul li span{
    font-family: "Gilroy-Medium";
    font-size: 18px;
    line-height: 1.5;
    color: #12152F;
    margin-left: 18px;
}
.pro-sec .pro-cnt ul li img{
    width: 36px;
    height: 36px;
    padding: 11px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 17%), 0px 22px 28px -15px #0e1f35;
}
.pro-sec .pro-cnt .empty-btn{
    font-family: "Gilroy-Bold";
    font-size: 16px;
    line-height: normal;
    color: #12152F;
    padding: 14px 0;
}

.pro-sec .pro-cnt .btn-row{
    display: flex;
    align-items: center;
    gap: 20px;
}
.pro-sec .pro-cnt .primary-btn{
    min-width: 152px;
    padding: 16px 50px;
}


.features-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.features-list .feature-block{
    padding: 30px 15px 15px 30px;
    border: 1px solid #e4e4e4;
}
.features-list .feature-block:hover{
    box-shadow: inset 0 2px 20px 0 rgba(23, 23, 23, 0.05);
}
.features-list .feature-block:hover img{
    box-shadow: inset 0 2px 20px 0 rgba(23, 23, 23, 0.05);
}
.features-list .feature-block img{
    display: block;
    padding: 10px;
    border-radius: 50%;
    background-color: #fbfbfb;
}
.features-list .feature-block .pill{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 76px;
    height: 76px;
    font-family: "Gilroy-Semibold";
    font-size: 30px;
    line-height: normal;
    color: #F10877;
    border-radius: 50%;
    /* box-shadow: 0 2px 6px 0 rgba(23, 23, 23, 0.10); */
}
.features-list .feature-block h2{
    font-family: "Gilroy-Semibold";
    font-size: 24px;
    line-height: normal;
    color: #12152F;
    margin: 30px 0 20px;
    
}
.features-list .feature-block p{
    font-family: "Gilroy-Medium";
    font-size: 16px;
    line-height: 1.7;
    color: #12152F;
}



.req-demo{
    padding-top: 120px;
}