@media screen and (max-width:1440px) {
    .v-feature-nav > div button{
        padding: 20px 36px;
    }
}

@media screen and (max-width:1366px) {
    .navbar a, .navbar a:focus{
        font-size: 14px;
    }
    .hero .hero-content h1{
        font-size: 38px;
    }
    .hero .hero-content ul{
        margin: 38px 0;
    }
    .hero .hero-content ul li{
        margin: 18px 0;
    }
    .hero .hero-content ul li span{
        font-size: 14px;
    }
    .customers-label{
        margin:65px 0 30px;
    }
    .section-header h2{
        font-size: 32px;
    }
    .pro-sec{
        padding-bottom: 60px;
    }
    .pro-sec .sec-header h3{
        font-size: 28px;
    }
    .pro-sec .pro-cnt p,.pro-sec .pro-cnt ul li span, .viba-mobile-app div .slideDiv p{
        font-size: 16px;
    }
    .features-list .feature-block h2{
        font-size: 22px;
    }
    .features-list .feature-block p{
        font-size: 14px;
    }
    .side-by-side-carousel .slide-text > div h3{
        font-size: 20px;
    }
    .side-by-side-carousel .slide-text > div p{
        font-size: 14px;
    }
    .viba-mobile-app div .slideDiv h3{
        font-size: 24px;
    }
    .videoBox h5{
        font-size: 18px;
    }
    .works .work-demo h2{
        font-size: 80px;
    }
    .works .work-demo p,.features .features-main-tabs .nav-link h4,.v-feature-nav > div button h4{
        font-size: 16px;
    }
    .vid-tabs li button span{
        font-size: 16px;
    }

    .virtualexp .virtual-vid-txt h3{
        font-size: 24px;
    }
    .virtualexp .virtual-vid-txt p{
        font-size: 16px;
    }
    .plansSwiper .plan-card h2{
        font-size: 24px;
    }
    .testimonialContainer .carousel-item p{
        font-size: 16px;
    }
    .ind-card-one .card-txt h3{
        font-size: 18px;
    }
    .ind-card-one .card-txt p{
        font-size: 14px;
    }
    .support-sec{
        padding: 60px 0 90px;
    }
    .support-sec header h2{
        font-size: 40px;
    }
    .support-sec h4{
        font-size: 16px;
    }
    .support-sec span{
        font-size: 14px;
    }
    .req-demo h2{
        font-size: 40px;
    }
    .req-demo p{
        font-size: 16px;
    }
    .page-banner h1{
        font-size: 40px;
    }
    .page-banner p{
        font-size: 20px;
    }
}
@media screen and (max-width:1200px){
    .v-feature-nav > div button{
        width: 100%;
    }
    .virtualexp .tab-content .tab-pane > div{
        align-items: center;
    }
    .circle-vid{
        min-width: 340px;
        min-height: 340px;
        margin: 16px 30px 16px 170px;
    }
    .industries .section-header{
        position: relative;
        top: 0;
    }
    .industries .card{
        width: 100% !important;
    }
    .testimonialContainer{
        min-width: 100%;
    }
    .support-sec .template-width{
        padding: 0 16px;
    }

}
@media screen and (max-width:1024px){
    .navbar li a:after{
        display: none;
    }
    .vline{display: none !important;}
    .plansSwiper .swiper-wrapper .swiper-slide:first-child .plan-card,
        .plansSwiper .swiper-wrapper .swiper-slide:last-child .plan-card{
        border-radius: 0;
    }
    .viba-pass-container{
        margin-left: 0;
    }
    .slider-view-rt{
        max-width: 1100px;
    }
}
@media screen and (max-width:1023px){
    .works .work-demo .primary-btn{
        margin: 20px 0 40px;
    }
}
@media screen and (max-width:991px){
    section{
        padding: 60px 0 !important;
    }
    .section-header img, .support-sec header > img{
        margin-bottom: 32px;
    }
    .hero{
        margin-top: 100px;
        height: auto;
    }
    .industries .card{
        border-radius: 0;
        margin-bottom: 25px;
    }
    .works .work-demo h2, .support-sec header h2{
        font-size: 48px;
    }
    .works .work-demo p{
        font-style: 16px;
    }
    .features{
        background-image: url("../../assets/img/mob-app-bg.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .features .features-main-tabs .nav-link{
        background-color: #ffffff;
        border-radius: 15px;
    }
    .features .features-main-tabs{
        border: 0;
    }
    .features .features-main-tabs .nav-link.active{
        background: linear-gradient(94.49deg, #F10877 5.28%, #9702E5 100%);
    }
    .features .features-main-tabs .nav-link.active::after{
        display: none;
    }
    .features .features-main-tabs .nav-link.active h4{
        color: #ffffff;;
    }
    .support-sec header .support-img{
        display: block;
        text-align: center;
    }
    .support-sec header .support-img img{
        position: relative;
    }
    .support-sec header .support-img::after{
        top: unset;
        bottom: -10%;
        right: 22%;
    }
    .vid-container .tab-content{
        margin-top: 2rem;
    }
    .circle-vid{
        margin: 2rem 1rem ;
    }
    .testIndicators > div:nth-child(1), .testIndicators > div:nth-child(3){
        gap:0
    }
    .testIndicators button{
        min-width: 80px;
        min-height: 80px;
    }
    .testIndicators .active::before{
        width: 80px;
        height: 80px;
    }
    .v-feature-nav .primary-btn{
        margin-left: 0;
        margin-bottom: 30px;
    }
    .vid-tabs{
        position: unset;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }
    .vid-tabs::after{
        display: none;
    }
    .vid-tabs li{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px !important;
    }
    .vid-tabs li button >div{
        margin: 0;
    }
    .vid-tabs li:nth-child(1),.vid-tabs li:nth-child(4){
        margin: 10px;
    }
    .vid-container{
        flex-direction: column;
    }
    .req-demo{
        margin-bottom: 0;
    }
    .support-sec header{
        padding-top: 0;
    }
    .slider-view-rt{
        max-width: 990px;
    }

}

   
@media screen and (max-width:991px){
    .pro-sec .pro-cnt .inr-cnt{
        margin-top: 30px;
    }
}

@media screen and (max-width:768px) {
    .hero .hero-content h1{
        font-size: 32px;
    }
    .section-header h2{
        font-size: 28px;
    }
    .pro-sec .sec-header h3{
        font-size: 24px;
    }
    .virtualexp .tab-content .tab-pane > div{
        flex-direction: column;
    }
    .vid-container{
        flex-direction: column;
        min-height: auto;
    }
    
}

@media screen and (max-width:767px) {
    .industries div.row{
        align-items: flex-start;
    }
    .testIndicators{
        display: none;
    }
    .testIndicatorsMobile{
        display: flex !important;
    }
    .viba-pass-container{
        margin: 0px;
        flex-direction: column;
    }
    .slider-view-lt{
        min-width: 0px;
        width: 100%;
        margin: 0 auto;
    }
    .slider-view-lt img{
        width: 100%;
        margin: 0px auto;
        height: inherit;
        position: relative;
    }
    .slider-view-lt video{
        position: absolute;
        top: 10px;
        left: 16%;
        width: 65%;
        z-index: 1;
    }
    .slider-view-rt{
        max-width: 100%;
    }
}

@media screen and (max-width:575px) {
    .hero .hero-content .btn-row{
        flex-direction: column;
        align-items: flex-start;
    }
    .req-demo h2,.works, .support-sec header h2{
        font-size: 30px;
    }
}