@media screen and (max-width:1200px){
    .header{
        padding: 20px 0;
    }
    .v-feature-nav > div button{
        width: 100%;
    }
    .virtualexp .tab-content .tab-pane > div{
        align-items: center;
    }
    .circle-vid{
        min-width: 340px;
        min-height: 340px;
        margin: 16px 30px 16px 170px;
    }
    .industries .section-header{
        position: relative;
        top: 0;
    }
    .industries .card{
        width: 100% !important;
    }
    .testimonialContainer{
        min-width: 100%;
    }
    .support-sec .template-width{
        padding: 0 16px;
    }
}
@media screen and (max-width:1999px){
    .industries .card{
        width: 100%;
    }
}
    
@media screen and (max-width:1024px){

}
    


@media screen and (max-width:767px) {
    .industries div.row{
        align-items: flex-start;
    }
}