@media screen and (max-width:1440px) {
    .hero .hero-content h2{
        font-size: 15px;
        line-height: 1.7;
    }
    .hero .primary-btn, .hero .secondary-btn, .req-demo .primary-btn{
        height: 60px;
    }
    .hero-bnr-left{
        padding-top: 30px;
    }
    .primary-btn, .secondary-btn, .navbar .getstarted, .navbar .getstarted:focus{
        padding: 12px 30px;
    }
    .pro-sec .pro-cnt p{
        font-size: 15px;
    }
    .pro-sec .pro-cnt ul li img{
        width: 30px;height:30px;padding: 8px;
    }
    .pro-sec .pro-cnt ul li span{
        font-size: 14px;
    }
    .slider-view-rt .arrows button img{
        max-height: 45px;
    }
    .slider-view-rt{
        max-width: 1000px;
    }
    .slider-view-lt{
        min-width: 400px;
        max-width: 400px;
    }
    .slider-view-lt .mobileimg{
        height: 550px;
        left: 20px;
    }
    .slider-view-lt .slideImg{
        top: 15px;
        left: 87px;
        width: 232px;
   }
    .slider-view-rt .section-header{
        padding-bottom: 10px;
    }
    .viba-mobile-app .slideDiv{
        min-height: 300px;
        max-width: 320px;
    }
    .viba-mobile-app div .slideDiv h3{
        margin: 24px 0px 12px;
        font-size: 22px;
    }
     .viba-mobile-app div .slideDiv p{
        font-size: 14px;
    }
    
    .req-demo-body{
        min-height: 400px;
    }
    .req-demo h2{
        font-size: 40px;
    }
    .req-demo p{
        font-size: 16px;
    }
    
    .v-feature-nav > div button{
        padding: 20px 36px;
    }
    .formBody .demo-logo, .right-area .nav-tabs li button{
        width: 50px;
        height: 50px;
    }
    .formBody{
        padding: 40px 80px 20px 80px;
    }
    .formBody h2{
        font-size: 32px;
    }
    .demo-overlay .right-area{
        padding:40px 80px 20px 80px;
    }
    .customForm .formgroup{
        margin-bottom: 42px;
    }
    .customForm .formgroup .input{
        height: 52px;
    }
    .formBtns .primary-btn, .formBtns .resetBtn{
        padding: 15px 30px;
    }
    .right-area .tab-content h2{
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .demoslidedown .right-area .tab-content p{
        font-size: 16px;
    }
    .footer-menulist div ul li a{
        font-size: 15px;
    }
    .app-dwnlds a{
        min-height: 69px;
        min-width: 210px;
    }
    .app-dwnlds a h5{
        font-size: 15px;
    }
}

@media screen and (max-width:1366px) {
    .header .logo img {
        max-height: 40px;
        margin-bottom: 7px;
    }
    .navbar a, .navbar a:focus{
        font-size: 14px;
    }
    .hero .hero-content h1{
        font-size: 38px;
    }
    .hero .hero-content ul{
        margin: 38px 0;
    }
    .hero .hero-content ul li{
        margin: 18px 0;
    }
    .hero .hero-content ul li span{
        font-size: 14px;
    }
    .section-header h2{
        font-size: 32px;
    }
    .pro-sec .sec-header h3{
        font-size: 28px;
    }

    .features-list .feature-block h2{
        font-size: 22px;
    }
    .features-list .feature-block p{
        font-size: 14px;
    }
    .side-by-side-carousel .slide-text > div h3{
        font-size: 20px;
    }
    .side-by-side-carousel .slide-text > div p{
        font-size: 14px;
    }

    .videoBox h5{
        font-size: 18px;
    }
    .works .work-demo h2{
        font-size: 80px;
    }
    .works .work-demo p,.features .features-main-tabs .nav-link h4,.v-feature-nav > div button h4{
        font-size: 16px;
    }
    .vid-tabs li button span{
        font-size: 16px;
    }

    .virtualexp .virtual-vid-txt h3{
        font-size: 24px;
    }
    .virtualexp .virtual-vid-txt p{
        font-size: 16px;
    }
    .plansSwiper .plan-card h2{
        font-size: 24px;
    }
    .testimonialContainer .carousel-item p{
        font-size: 16px;
    }
    .ind-card-one .card-txt h3{
        font-size: 18px;
    }
    .ind-card-one .card-txt p{
        font-size: 14px;
    }

    .support-sec header h2{
        font-size: 40px;
    }
    .support-sec h4{
        font-size: 16px;
    }
    .support-sec span{
        font-size: 14px;
    }

    .page-banner h1{
        font-size: 40px;
    }
    .page-banner p{
        font-size: 20px;
    }
    .formBody h2, .right-area .tab-content h2{
        font-size: 28px;
    }
}
@media screen and (max-width:1200px){
    .hero{
        height: auto;
    }
    .slider-view-rt .section-header{
        max-width: 60%;
    }

    .virtualexp .tab-content .tab-pane > div{
        align-items: center;
    }
    .circle-vid{
        min-width: 340px;
        min-height: 340px;
        margin: 16px 30px 16px 170px;
    }
    .industries .section-header{
        position: relative;
        top: 0;
    }

    .testimonialContainer{
        min-width: 100%;
    }
    .support-sec .template-width{
        padding: 0 16px;
    }
    .formBody{
        padding: 40px 16px 80px;
    }
    .demo-overlay .right-area{
        padding: 110px 16px 20px;
    }

}
@media screen and (max-width:1024px){
    .navbar li a:after{
        display: none;
    }
    .navbar .lastul li:nth-child(1){display: none;}
    .vline{display: none !important;}

    .plansSwiper .swiper-wrapper .swiper-slide:first-child .plan-card,
        .plansSwiper .swiper-wrapper .swiper-slide:last-child .plan-card{
        border-radius: 0;
    }
    .viba-pass-container{
        margin-left: 0;
    }
    .plans-controller{
        display: block;
    }
    .plansSwiper .swiper-wrapper{
        justify-content:unset;
      }
      .visitors-only-switch{
        position: unset;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 2rem;
      }
    .slider-view-rt{
        max-width: 1100px;
    }
    .slider-view-rt .section-header{
        max-width: 50%;
    }

    .features-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .formBody h2, .right-area .tab-content h2{
        font-size: 30px;
    }
}
@media screen and (max-width:1023px){
    .works .work-demo .primary-btn{
        margin: 20px 0 40px;
    }
}
@media screen and (max-width:991px){
    section{
        padding: 60px 0 !important;
    }
    .section-header img, .support-sec header > img{
        margin-bottom: 32px;
    }
    .hero{
        margin-top: 100px;
        height: auto;
    }
    .hero .hero-content h1 > span{
        display: inline;
      }
    .industries .card{
        border-radius: 0;
        margin-bottom: 25px;
    }
    .works .work-demo h2, .support-sec header h2{
        font-size: 48px;
    }
    .works .work-demo p{
        font-style: 16px;
    }
    .features{
        background-image: url("../../assets/img/mob-app-bg.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .features .features-main-tabs .nav-link{
        background-color: #ffffff;
        border-radius: 15px;
    }
    .features .features-main-tabs{
        border: 0;
    }
    .features .features-main-tabs .nav-link.active{
        background: linear-gradient(94.49deg, #F10877 5.28%, #9702E5 100%);
    }
    .features .features-main-tabs .nav-link.active::after{
        display: none;
    }
    .features .features-main-tabs .nav-link.active h4{
        color: #ffffff;;
    }
    .features-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .support-sec ul{
        row-gap: 10px;
    }
    .support-sec .support-img{
        text-align: start;
    }
 
    .vid-container .tab-content{
        margin-top: 2rem;
    }
    .circle-vid{
        margin: 2rem 1rem ;
    }
    .testIndicators > div:nth-child(1), .testIndicators > div:nth-child(3){
        gap:0
    }
    .testIndicators button{
        min-width: 80px;
        min-height: 80px;
    }
    .testIndicators .active::before{
        width: 80px;
        height: 80px;
    }
    .v-feature-nav .primary-btn{
        margin-left: 0;
        margin-bottom: 30px;
    }
    .vid-tabs{
        position: unset;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }
    .vid-tabs::after{
        display: none;
    }
    .vid-tabs li{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px !important;
    }
    .vid-tabs li button >div{
        margin: 0;
    }
    .vid-tabs li:nth-child(1),.vid-tabs li:nth-child(4){
        margin: 10px;
    }
    .vid-container{
        flex-direction: column;
    }
    .req-demo{
        margin-bottom: 0;
    }
    .support-sec header{
        padding-top: 0;
    }
    .slider-view-rt{
        max-width: 990px;
    }

}

   
@media screen and (max-width:991px){
    .page-banner p{
        max-width: 80%;
    }
    .pro-sec .pro-cnt .inr-cnt{
        margin-top: 30px;
    }
    .demo-overlay{
        overflow-y: auto;
    }
    .pro-sec video{
        max-width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width:768px) {
    .hero .hero-content h1{
        font-size: 32px;
    }
    .section-header h2{
        font-size: 28px;
    }
    .pro-sec .sec-header h3{
        font-size: 24px;
    }
    .virtualexp .tab-content .tab-pane > div{
        flex-direction: column;
    }
    .vid-container{
        flex-direction: column;
        min-height: auto;
    }
    .page-banner p{
        max-width: 100%;
    }
    .demo-overlay{
        display: block;
    }
   
    .demo-overlay .left-area, .demo-overlay .right-area{
        width: 100%;
    }
}

@media screen and (max-width:767px) {


    .testIndicators{
        display: none;
    }
    .testIndicatorsMobile{
        display: flex !important;
    }
    .viba-pass-container{
        margin: 0px;
        flex-direction: column;
    }
    .slider-view-lt{
        min-width: 0px;
        width: 100%;
        margin: 0 auto;
    }
    .slider-view-lt .mobileimg{
        width: 100%;
        margin: 0px auto;
        height: inherit;
        position: relative;
    }
    .slider-view-lt .slideImg{
        margin: 0px auto;
        height: inherit;
        top: 16px;
        left: 75px;
        width: 254px;
    }
    .slider-view-lt .mobileimg{
        left: 0;
    }
    .slider-view-lt video{
        position: absolute;
        top: 10px;
        left: 16%;
        width: 65%;
        z-index: 1;
    }
    .slider-view-rt{
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .slider-view-rt .section-header{
        max-width: 100%;
    }
    .slider-view-rt .actions-row{
        align-items: center;
    }
    .virtual-exp-vids{
        row-gap: 50px;
    }
    .viba-mobile-app .slideDiv{
        min-height: 300px;
        max-width: 100%;
    }
    .slider-view-lt .mobileimg{
        width: 100%;
        margin: 0px auto;
        height: inherit;
        position: relative;
    }
    .slider-view-lt .slideImg{
        position: absolute;
        top: 14px;
        left: 18%;
        width: 64%;
        z-index: 1;
    }

}

@media screen and (max-width:575px) {
    .hero .hero-content .btn-row{
        flex-direction: column;
        align-items: flex-start;
    }
    .req-demo h2,.works, .support-sec header h2{
        font-size: 30px;
    }
    .features-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

